*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

button:hover {
  opacity: .7;
  transition: opacity .5s;
}

.header {
  height: 100px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.96);
  box-shadow: 0 0 8px rgb(185, 185, 185);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}


.main {
  background-color: rgb(250, 248, 248);
  height: 100%;
  width: 100%;
  margin-top: 250px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: flex-start;
}



#particles-js {
  background: black;
  height: 100vh;
}









